


body{

    background-color: #14213D;

}

.input{

    font-size: 30px;
    font-family: "Open Sans", sans-serif;

}

#logo{

    width: 500px;
    height: 150px;
}

#loginInterfaceContainer{

    position: relative;

    width: 100%;
    height: max-content;

    margin-top: 8%;
    left: 0;

}

#loginButton{

    margin-top: 20px;

    background-color: black;
    color: white;
    width: max-content;

    padding: 5px;
    border-radius: 10px;
    font-size: 20px;

    cursor: pointer;
    user-select: none;

    transition: transform 0.1s ease-in-out;

    font-family: "Open Sans", sans-serif;

}

#loginButton:hover{

    transform: scale(1.2);

}

.createAccount{

    color: rgb(57, 117, 255);
    height: max-content;

    font-family: "Open Sans", sans-serif;

    cursor: pointer

}

.errorDisplay{

    color: red;
    height: max-content;

    font-family: "Open Sans", sans-serif;

}

#roomDisplayContainer{

    position: absolute;

    top: 50%;
    left: 50%;

    width: 95%;
    height: 80%;

    transform: translate(-50%, -50%);

    font-family: "Open Sans", sans-serif;

    color: white;

}

.roomHandlingContainer{

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    height: 100%;
    width: 40%;

}

#roomHandlerInputs{

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 80%;
    height: max-content;

}

.button1{

    width: 100px;
    height: max-content;

    padding-left: 40px;
    padding-right: 40px;

    padding-top: 10px;
    padding-bottom: 10px;

    transform: scale(1); 

    font-size: 2.3vh;

    background-color: #FCA311;
    color: white;

    user-select: none;

    cursor: pointer;
    
    font-family: "Open Sans", sans-serif;

    transition: transform 0.2s ease-in-out;

}

.button1:hover{

    transform: scale(1.1);

}

#rooms{

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;

    height: 100%;
    width: 60%;

    background-color: #0d172d;

    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;

}

#rooms h1{

    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(22, 9, 9, 0.3);
    color: white;

}


/* create acount styling */
#form{

    position: relative;
    width: max-content;
    text-align: left;

}

#form label{

    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    color:white;

}

#accountVerificationContainer{

    position: relative;
    margin-top: 30px;
    display: none;
    width: max-content;

}

#accountVerificationContainer h2{

    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    color:white;

}

/* watch html styling */

#contentContainer{

    position: absolute;
    top: 100px;
    left: 0;

    width: 100%;
    height: 80%;

    display: flex;

    align-items: center;

}

#chatContainer{

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    width: 30%;
    height: 100%;
}

#chat{

    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: #0d172d;

    overflow-y: auto;
    overflow-x: hidden;

    font-size: 10px;
    font-family: "Open Sans", sans-serif;

}

#chat h1 {

    padding: 10px;

}

.message{

    word-break: break-word; 
    overflow-wrap: break-word; 
    hyphens: auto;

    padding-right: 30px;

}

#chatInputContainer{

    position: absolute;
    top: 100%;
    width: 100%;
    height: 20px;

    display: flex;

}

#chatInput{

    left: 0;

    flex: 1;
    font-size: 3vh;
    padding: 15px;
    font-family: "Open Sans", sans-serif;

}

#chatButton{

    display: flex;

    padding: 6.5px;
    width: 50px;
    background-color: #FCA311;
    height: 100%;

    transition: filter 0.18s ease-in-out;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;

    margin-left: auto;

    color: white;

}

#chatButton:hover{

    filter: brightness(0.7);

}

.serverNote{

    background-color: rgba(0, 0, 0, 0.2);

}

.serverMessage{

    padding-right: 30px;

}

#videoContainer{

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    width: 60%;
    height: 100%;

    background-color: #060a13;

}

#video{

    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left: 50%;

    width: 100%;
    height: 100%;


}

#youtubeLinkContainer{

    display: flex;
    width: 300px;

}

#usersListContainer{

    position: relative;
    transform: translateY(-50%);
    top: 50%;
    float: right;
    width: 200px;
    height: 100%;

    color: white;

    text-align: center;

    font-family: "Open Sans", sans-serif;

}

#usersContainer{

    right: 0;
    top: 0;
    width: 100%;
    height: 400px;

    overflow-y: auto;

    text-align: center;

}

@media (max-width: 1200px) {

    #roomHandlerInputs .input{

        width: 80%;

    }

    .roomHandlingContainer{

        position: relative;
        top: 0;
        transform: none;
        left: 0;

        height: 30%;
        width: 100%;

    }

    #rooms{

        position: relative;
        top: 40px;
        transform: none;
        left: 0;

        height: 70%;
        width: 100%;

    }

    .input{

        font-size: 22px;

    }

    .button1{

        width: 100px;
        height: max-content;

        padding-left: 40px;
        padding-right: 40px;

        padding-top: 10px;
        padding-bottom: 10px;

        font-size: 2vh;
    }

    .button1:hover{

        transform: none;

    }

    .button1:active{

        transform: scale(0.8);

    }

    #usersListContainer{

        display: none;

    }

    #contentContainer{

        position: relative;
        transform: translateX(-50%);

        transform: none;

        display: block;
        height: 400px;

    }

    #chatContainer{

        position: absolute;
        top: 100%;
        left: 0;
        transform: none;

        width: 100%;
        height: 300px;

    }

    #chatInputContainer{

        height: 50px;

    }

    #chatButton{

        width: 80px;
        padding: 0px;
        font-family: "Open Sans", sans-serif;

    }

    #videoContainer{

        position: absolute;
        top: 0%;
        left: 0;
        transform: none;

        width: 100%;
        height: 400px;
    }

    #youtubeLinkContainer{
        left: 0;
        width: 100%;
    }

    #inputVIDEOID{

        font-size: 15px;

    }

}


/*----- navigation bar -----*/
.navBarWrapperDesktop .navBar{

    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-400px);
    height: 100%;
    width: 400px;

    background-color: rgba(9, 15, 29, 0.8);
    backdrop-filter: blur(4px);

    transition: transform 0.3s ease-in-out;

}

.navBarWrapperDesktop .navBar-activate{

    position: absolute;
    top: 20px;
    left: 0;
    height: 70px;
    width: 70px;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: transparent solid 3px;

    background-color: rgba(9, 15, 29, 0.8);
    backdrop-filter: blur(4px);

    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    cursor: pointer;

}

.navBarWrapperDesktop:has(.navBar-activate:hover) .navBar-activate{

    transform: translateX(300px);
    cursor: auto;
    opacity: 0;

}

.navBarWrapperDesktop:has(.navBar:hover) .navBar-activate{

    transform: translateX(300px);
    cursor: auto;
    opacity: 0;

}


.navBarWrapperDesktop:has(.navBar-activate:hover) .navBar{

    transform: translateX(0);

}

.navBarWrapperDesktop:has(.navBar:hover) .navBar{

    transform: translateX(0);

}

.navBarWrapperMobile{

    display: none;

}

.navBarWrapperMobile .navBar{

    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;

    background-color: rgba(9, 15, 29, 0.8);
    backdrop-filter: blur(6px);

    transition: left 0.3s ease-in-out;
}

.navBarWrapperMobile .navBar-activate{

    position: absolute;
    top: 20px;
    left: 0;
    height: 70px;
    width: 70px;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: transparent solid 3px;

    background-color: rgba(9, 15, 29, 0.8);
    backdrop-filter: blur(6px);

    transition: left 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out;

    cursor: pointer;
}

.navBarWrapperMobile .navBarLogo{

    margin-top: 20px;
    width: 200px;
    height: 60px;

}

.navBarLogo{
    margin-left: 14px;
    width: 250px;
    height: 75px;

    cursor: pointer;
}

.navBar, .navBar-activate {
    will-change: transform;
}

.navBarContent{

    margin-top: 20px;

}

.menuIcon{

    position: absolute;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 30px;
    left: 50%;
    top: 50%;

    transition: opacity 0.3s ease-in-out;

}

.closeIcon{

    position: absolute;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 30px;
    left: 50%;
    top: 50%;
    opacity: 0;

    transition: opacity 0.3s ease-in-out;

}

.navButton{

    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: 600;
    font-size: 20px;
    padding: 27px;

    cursor: pointer;

    transition: background-color 0.3s ease-in-out;

}

.navButton span{

    color:#FCA311

}

.navButton:hover{

    background-color: rgba(4, 7, 14, 0.8);

}

@media (max-width: 820px) {

    #loginInterfaceContainer{

        position: absolute;

        transform: translate(-50%,-50%);

        top: 40%;
        left: 50%;

    }

    #logo{

        width: 300px;
        height: 90px;

    }

    .navBarWrapperDesktop{

        display: none;

    }

    .navBarWrapperMobile{

        display: block;

    }

    #form{

        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;

    }

}